@import '../../assets/fonts//fonts.scss';
.Preview{
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100vh;
  h1, h2, h3, h4, h5, h6, blockquote, button, .btn{font-size: 1em;}
  h1{
    font-size: 3.5em;
  }
  p{
    margin-bottom: 0;
    color: inherit;
    font-size: 1.2em;
  }
  .row{
    margin-bottom: 2rem;
  }
  img{
    width: 100%;
  }
  .btn{
    border-radius: 4px;
    font-weight: 600;
    font-size: 1em;
    &.btn-block{
      padding: 1rem;
      font-size: 1.2rem;
    }
    &.btn-outline-primary{
      border-width: 2px;
    }
  }
  blockquote{
    background-color: #f1f1f1;
    padding: 1rem;
    border-left: 4px solid #333;
  }
}  