.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.wrapper > * {
  margin-right: 1rem;
}
.MarginLeft, .MarginLeft, .MarginLeft, .MarginLeft{  }
.MarginLeft{
  transform: rotate(-180deg);
}
.MarginRight{
  transform: rotate(0deg);
}
.MarginBottom{
  transform: rotate(90deg);
}
.MarginTop{
  transform: rotate(-90deg);
}
input[type="number"]{
  appearance: none;
  max-width: 80px;
}