@import "../../../variables";

.ColorPickerComponent {
  display: inline-block;
}

.ColorPickerRound {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid $light-blue;
  background-color: $primary-color;
  cursor: pointer;
  & > * {
    position: absolute !important;
    top: 30px; /* Height of ColorPicker */
  }
}
